<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2016</h1>
<h1 style="font-size: 200%;">Midterm #1 </h1>
<h2>20 questions - 50 minutes</h2>
<h1>Friday 9/30/2016</h1>
</div>

**Exam Information:** Answer each question using the cell immediately following it. For multiple choice questions enter only the *one* best answer. The cells in this notebook contain metadata that enables it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and add a new one to replace it.

In [1]:
# Replace the following string values with the requested information
# Make sure each string is enclosed in quotation marks
class Student:
    first = "James"
    last = "Barbour"
    onyen = "jebarbou"
    pid = "720076615"

**1.**	Which of the following statements characterize the relational database model?
<br>
<br>
<div style="margin-left:30px;">
    A. Entities are stored as tables<br>
    B. Relations between entities are stored as tables<br>
    C. The domain for each attribute is pre-specified<br>
    D. Each table has a distinct name<br>
    E. All of the above
</div>

B

**2.** Which of the following might be shared by multiple tuples in the same relation?
<br>
<br>
<div style="margin-left:30px;">
   A. A primary key<br>
   B. A super key<br>
   C. A combination of attributes declared to be unique<br>
   D. A foreign key<br>
   E. None of the above
</div>

D

#### The following questions refer to the table below, which is named *CELLAR*.

Vineyard          | Wine            | Year | Bottles
:----------------:|:---------------:|:----:|:-------:
Longview          | Savignon Blanc  | 2011 | 2
Casa Silva        | Savignon Blanc  | 2010 | 6
Cakebread Cellars | Pinot Noir      | 2010 | 3
Cakebread Cellars | Chardonnay      | 2009 | 5
Cakebread Cellars | Chardonnay      | 2010 | 6
Enate             | Crianza         | 2006 | 5
Cline             | Syrah           | 2006 | 4
Geyser Park       | Sauvignon Blanc | 2003 | 2

**3.** Which is a reasonable key for this relation?
<br>
<br>
<div style="margin-left:30px;">
    A. Vineyard<br>
    B. Wine<br>
    C. Year<br>
    D. Wine and Year<br>
    E. Vineyard, Wine, and Year<br>
</div>

E

**4.** How many tuples result from the Query:

    	SELECT Wine, Bottles
    	FROM CELLAR
    	WHERE Year < 2010
          AND Bottles < 3

3

**5.** How many rows result from the Query:

        SELECT A.Wine, B.Wine
    	FROM CELLAR A, CELLAR B
    	WHERE A.Wine = Chardonnay
          AND A.Bottles = B.Bottles

2

**6.** How many rows remain in CELLAR after the following query:

        DELETE FROM CELLAR 
        WHERE Bottles < 4
        OR Year > 2009
        OR Wine = Syrah

2

**7. ** Which of the following makes a nested query correlated.
<br>
<br>
<div style="margin-left:30px;">
    A. A query that appears within the WHERE clause<br>
    B. A query that appears within the FROM clause<br>
    C. A query that references a relation that appears in an outer query's FROM clause<br>
    D. A query that references an attribute from a relation in the outer query's FROM clause<br>
    E. Any JOIN on the FROM clause that includes a query  
</div>

C

**8.** Why is the 'join' operator not one of the five primitive (basic) operators of relational algebra?
<br>
<br>
<div style="margin-left:30px;">
    A.	It was not included in Codd's seminal papers<br>
    B.	It is equivalent to the Carteasian product<br>
    C.	Joins can be accomplished by composing primitive operations<br>
    D.	It has too many variants to be considered a primitive operator<br>
    E.	None of the above
</div>

A

**9. ** If relations R and S are union-compatible, which of the following are true?
<br>
<br>
<div style="margin-left:30px;">
A. R and S have the same number of attributes<br>
B. Attribute names of R and S must match<br>
C. Corresponding attributes are of the same type<br>
D. R &#8745; S = R &#x2a1d; S<br>
E. All of the above
</div>

E

The following questions refer to the following relations:
<table style="border:none;"><tbody>
<tr style="border:none;">
    <td style="padding:0px 20px 20px 20px;border:none;" colspan="2">
    <table><tbody>
    <tr><th colspan="6" style="text-align:center;">Movies</th></tr>
    <tr><td><u>mid</u></td>
        <td>title</td>
        <td>release</td>
        <td>runtime</td>
        <td>revenue</td>
        <td>budget</td>
    </tr>
    </tbody></table>
    </td>
</tr>    
<tr style="border:none;">
    <td style="padding:0px 20px;border:none;">
    <table><tbody>
    <tr><th colspan="4" style="text-align:center;">Cast</th></tr>
    <tr><td><u>mid</u></td>
        <td><u>billing</u></td>
        <td>aid</td>
        <td>role</td>
    </tr>
    </tbody></table>
    </td>
    
    <td style="padding:0px 20px;border:none;">
    <table><tbody>
    <tr><th colspan="4" style="text-align:center;">Actors</th></tr>
    <tr><td><u>aid</u></td>
        <td>name</td>
        <td>gender</td>
        <td>birthdate</td>
    </tr>
    </tbody></table>
    </td>
</tr>
</tbody></table>

**10.** Which of the following *best describes* the result of the relational algebra statement?

<p style="margin-left:32px;">&pi;<sub>mid1,aid1</sub>(&sigma;<sub>aid1=aid2,billing1&ne;billing2</sub>(<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rho;(1 &rarr; mid1, 2 &rarr; billing1, 3 &rarr; aid1, 4 &rarr; role1), Cast) &#x2a1d;<sub>mid1=mid2</sub><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rho;(1 &rarr; mid2, 2 &rarr; billing2, 3 &rarr; aid2, 4 &rarr; role2), Cast)))
</p>
<br>
<div style="margin-left:30px;">
    A. Movie and actor ids of movies with a cast of only one actor<br>
    B. Movie and actor ids of movies where an actor played two or more roles<br>
    C. Movie and actor ids of movies where an actor played exacty two roles<br>
    D. Movie and actor ids of actors who appear in only one movie<br>
    E. Movie and actor ids where the actor appears in multiple movies 
</div>

B

** 11.** Which of the following SQL queries best approximates the result set from the relational algebra expression:

<p style="margin-left:32px;">
&pi;<sub>title</sub>(&sigma;<sub>title=role</sub>(Movies &#x2a1d; Cast)) 
</p>
<br>
<div style="margin-left:30px;">
    A. SELECT M.title<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM Movies M, Cast C<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE M.title=C.role<br>
    B. SELECT M.title<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM Movies M, Cast C<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE M.title=C.role<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GROUP BY M.mid<br>
    C. SELECT title<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM Movies<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE mid in (SELECT mid FROM Cast)<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AND title in (SELECT role FROM Cast)<br>
    D. SELECT M.title<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM Movies M, Cast C<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE M.mid=C.mid AND M.title=C.role<br>
    E. SELECT M.title<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM Movies M, Cast C<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE M.mid=C.mid<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GROUP BY M.title, C.role<br>
</div>

D

**12.** Which of the supplied answers best describes the result of the given SQL query?

<p style="margin-left:30px;">
SELECT DISTINCT A.name<br>
FROM Movies M, Actors A, Cast C<br>
WHERE M.mid=C.mid AND A.aid=C.aid AND C.role='Robin Hood'
</p>
<br>
<div style="margin-left:30px;">
A.	Names of actors who have appeared in a movie named "Robin Hood"<br>
B.	Names of actors who have played the role of "Robin Hood" exactly once<br>
C.	Names of actors who played the role of "Robin Hood" in a movie of the same name<br> 
D.	Names of all actors who played the role of "Robin Hood" in any movie<br>
E.	Names of actors who played "Robin Hood" in a movie without a sequel 
</div>

D

**13.**	Describe in words the result of the following SQL statement

<p style="margin-left:30px;">
DELETE FROM Actors<br>
WHERE aid NOT IN (<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT DISTINCT(C.aid)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM Movies M, Cast C<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHERE M.mid=C.mid AND M.revenue > 10000000)
</p>

assuming that the Cast relation includes the integrity constraints:

<p style="margin-left:30px;">
FOREIGN KEY(aid) REFERENCES Actors(aid)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON DELETE CASCADE<br>
FOREIGN KEY(mid) REFERENCES Movies(mid)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON DELETE CASCADE
</p>

Delete actors that have not played a role in a movie that has made more than $10000000, then delete all tuples that refer to any deleted actor. If any movies are deleted, delete all tuples that refer to that movie

Consider the following Python code fragment executed using the given schema:

```python
cursor.execute("""SELECT C.aid
                    FROM Casts C
                   WHERE C.role='Batman'""")
for tup in cursor.fetchall():
    cursor.execute("""SELECT A.name, M.title, M.release
                        FROM Actors A, Casts C, Movies M
                       WHERE A.aid = C.aid
                         AND C.mid = M.mid
                         AND A.aid = ?
                       ORDER BY M.release""", (tup['aid'],))
    for row in cursor:
        print row['name'], row['title'], row['year']
    print
```

**14.** Notice that the first query's result is accessed using the cursor's 
"fetchall( )" method, whereas the second uses the cursor as an iterator. 
What is the reason for this?
<br>
<br>
<div style="margin-left:30px;">
A. Only one output row is expected from the first "outer" query<br>
B. The use of "fetchall()" allows the cursor to be reused within the "inner" loop<br>
C. Using either "fetchall()" or the cusor as an iterator is arbitrary in this case<br>
D. The database schema dictates whether a table is traversed using "fetchall()" or using the cursor as an iterator.<br>
E. None of the above
</div>

B

**15.** What are the implications of variable references of the form row['name']?
<br>
<br>
<div style="margin-left:30px;">
A. The variable row is a python dictionary<br>
B. A sqlite3 "row_factory" is being used<br>
C. Cursor results are always accessed by attribute name rather than by their position<br>
D. The variable row is a Python tuple<br>
E. None of the above
</div>

B

**16.** Which best describes the output of the given program.
<br>
<br>
<div style="margin-left:30px;">
A. A list of actor names, movie titles, and year for movies with a cast member playing the role of 'Batman'<br>
B. Filmography of actors who played in a movie titled 'Batman'<br>
C. Filmography of the actor who played the role of 'Batman' in the first movie containing such a role<br>
D. Filmography of actors who played the role of 'Batman' in any movie<br>
E. None of the above
</div>

B

**17.**	How might a SQL result differ from the equivalent relational algebra statement?
<br>
<br>
<div style="margin-left:30px;">
A. The allowed "null" field values in SQL impacts the results of joins<br>
B. SQL's GROUP BY and ORDER BY constructs control the ordering of result tuples<br>
C. SQL allows repeated result tuples<br>
D. SQL queries might have side-effects invoked by a trigger that change the result<br>
E. All of the above
</div>

E

**18.** Which of the following SQL commands might be used to increase an existing relation's  degree?
<br>
<br>
<div style="margin-left:30px;">
A. DROP TABLE<br>
B. INSERT<br>
C. ALTER TABLE<br>
D. SAVEPOINT<br>
E. COMMIT
</div>

C

**19.** Which of the following SQL commands might be used to increase an existing relation's cardinality?
<br>
<br>
<div style="margin-left:30px;">
A. DROP TABLE<br>
B. INSERT<br>
C. ALTER TABLE<br>
D. SAVEPOINT<br>
E. COMMIT
</div>

B

**20.** What can be inferred if the two following SQL queries return identical result sets?
<br>
<br>
<div style="margin-left:30px;">
SELECT S.sid, R.bid<br>
FROM Sailors S NATURAL JOIN Reserves R<br>
<br>
SELECT S.sid, R.bid<br>
FROM Sailors S NATURAL LEFT OUTER JOIN Reserves R<br>
</div>

All rows of the left table (Sailors) contain a matching row on the right table (Reserves)

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=Exam.upload) your completed midterm.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.