<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2016</h1>
<h1 style="font-size: 250%;">Problem Set #3</h1>
<h1 style="font-size: 200%;">Version 1.0</h1>
<h1>Issued Monday 10/03/2016; Due Monday 10/17/2016</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test your approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be penalized by a factor of 70.71% for each class meeting after their due date. Feel free to get help from others, but the work you submit in should be your own.

In [8]:
# Fill in the fields as described
class Student:
    first = "James"
    last = "Barbour"
    onyen = "jebarbou"
    pid = "720076615"

In this problem set we will revisit the *Monkepo* data discussed in Lecture 3. You may want to revist that lecture to reaquaint yourself with the data set. Your first task will be to construct and populate a database with the following schema.

 <table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table><tbody>
            <tr><th colspan="6" style="text-align:center;">Monkepo</th></tr>
            <tr><td><u>mid</u></td>
                <td>name</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:20px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Appearance</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>latitude</u></td>
                <td><u>longitude</u></td>
                <td><u>datetime</u></td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:20px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Class</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>major (1/0)</u></td>
                <td>type</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

The *Monkepo* relation should hold just the *unique* name of a *monkepo* species and an autoincremented primary key, *mid*. When a *Monkepo* appears its location and appearance time are stored as a tuple in the *Appearance* relation. Finally, the *Class* relation is used to hold information about the major and minor class of the monkepo species. The major class is indicated by a value of *1* in the major field, and the minor class by a *0*. There should be no class entry for a *None* minor type.  

Use this verison of the <a href="http://csbio.unc.edu/mcmillan/Media/monkepo.csv" download>data file</a> to fill your database (it is different than the one used in lecture 3).

---
**Part 1:** In the cell provided below write a Python fragment to create the specified database, and name it *"monkepo.db"* (Hint: you should investigate Python's *DateTime* module to find methods for combining the date and time values from the data file into a single attribute). You code should commit and close your database.

In [9]:
import sqlite3, pandas, datetime, numpy
conn = sqlite3.connect('monkepo.db')
curs = conn.cursor()
curs.execute('CREATE TABLE Monkepo(\
             mid INTEGER PRIMARY KEY AUTOINCREMENT,\
             name TEXT,\
             UNIQUE(name))')
curs.execute('CREATE TABLE Appearance(\
             mid INTEGER,\
             latitude REAL,\
             longitude REAL,\
             datetime DATETIME,\
             PRIMARY KEY(mid, latitude, longitude, datetime),\
             FOREIGN KEY(mid) REFERENCES Monkepo(mid))')
curs.execute('CREATE TABLE Class(\
             mid INTEGER,\
             major BOOLEAN,\
             type TEXT,\
             PRIMARY KEY(mid, major),\
             FOREIGN KEY(mid) REFERENCES Monkepo(mid))')
monkcsv = pandas.read_csv('monkepo.csv')
monk_names = monkcsv.name.drop_duplicates()
monk_names.to_sql('Monkepo', conn, if_exists='append', index=False)


def converttime(row):
    try:
        return datetime.datetime.combine(
            datetime.datetime.strptime(row['date'], '%Y-%m-%d'),
            datetime.datetime.time(datetime.datetime.strptime(row['time'], '%H:%M:%S.%f')))
    except ValueError:
        return datetime.datetime.combine(
            datetime.datetime.strptime(row['date'], '%Y-%m-%d'),
            datetime.datetime.time(datetime.datetime.strptime(row['time'], '%H:%M:%S')))


def monkepotomid(row):
    return pandas.read_sql_query(
        'SELECT mid from Monkepo M WHERE M.name = "'+ row['name'] + '"', conn)['mid'][0]


monkcsv['mid'] = monkcsv.apply(monkepotomid, axis=1)
monk_sightings = monkcsv.drop(['majorclass', 'minorclass', 'date', 'time', 'name'], axis=1)
monk_sightings['datetime'] = monkcsv.apply(converttime, axis=1)
monk_sightings = monk_sightings.drop_duplicates()
monk_sightings.to_sql('Appearance', conn, if_exists='append', index=False,)
monk_class_major = monkcsv.drop(
    ['longitude', 'latitude', 'name', 'date', 'time', 'minorclass'], axis=1)
monk_class_minor = monkcsv.drop(
    ['longitude', 'latitude', 'name', 'date', 'time', 'majorclass'], axis=1)
monk_class_minor = monk_class_minor.drop_duplicates()
monk_class_major = monk_class_major.drop_duplicates()
monk_class_major.rename(columns={'majorclass':'type'}, inplace=True)
monk_class_minor.rename(columns={'minorclass':'type'}, inplace=True)
monk_class_major['major'] = True
monk_class_minor['major'] = False
monk_class = pandas.concat([monk_class_major, monk_class_minor])
monk_class = monk_class[monk_class.type != 'None']
monk_class.to_sql('Class', conn, if_exists='append', index=False)
conn.commit()
conn.close()

---
**Part 2:** Using the database that you created in part 1, write Python function to count the frequency of appearances of each Monkepo species. Your function should take the name of your database as an argument and return a sorted list of tuples (Monkepo.name, #appearances) with the most frequent first. Implement this function in using a dictionary like we did in Lecture 3.

In the cell below, enter the definition of your function, followed by a call to it, where the result is displayed via a Pandas data frame as shown in the code fragment supplied.

In [10]:
def appearancefreqpy(db):
    conn = sqlite3.connect(db)
    monks = pandas.read_sql_query('SELECT M.name\
                                  FROM (Monkepo JOIN Appearance USING(mid)) AS M',
                                  conn)
    conn.close()
    monkviews = {}
    for row in monks.values:
        monkviews[row[0]] = monkviews.get(row[0],0) + 1
    return sorted(monkviews.items(), key=lambda tup: tup[1], reverse=True)


pandas.DataFrame(appearancefreqpy('monkepo.db'), columns=['Name', 'Appearances'])

           Name  Appearances
0        PigDye        24445
1       AttaRat        18661
2       RopeSaw        10397
3        DewEel         8717
4         Veeee         7356
5       NovaNet         4766
6      TarPiece         4036
7         TubaZ         3639
8         ARasp         2593
9     AnIronAd-         2497
10    AnIronAd+         2472
11       HiOdds         1849
12     ClayFire         1643
13    PigTooted         1570
14   TurboSpell         1543
15       Rustay         1232
16      NoLedge         1203
17       ByBark         1183
18     PigKarma         1123
19      APigOwl         1123
20        Snake         1100
21    GGExecute         1029
22    UsualBarb          924
23       YankMe          610
24   JiffyPlugG          591
25       HasRoe          585
26       Ripsin          577
27       Nakkau          569
28     IrateCat          568
29      DuckSpy          541
..          ...          ...
93   VerbIElect            7
94     RevelGar            7
95      WingZee            6
96    IronGated            6
97      WarmOak            5
98    HipOrWalt            5
99        RigMe            5
100     HamCoke            4
101      Didroo            4
102    DoingInk            4
103      Nagger            4
104    RunSuave            3
105     Brovolt            3
106   GimmeATen            3
107    InaneCar            3
108   LassHands            3
109   RaidOrgan            3
110    HairPads            3
111    ALazaKam            2
112       Pyhon            2
113   HardICzar            2
114  IonHelment            2
115     NoElFar            1
116     Asniper            1
117     NoLoJet            1
118      ARichU            1
119   AlienSent            1
120   BasilToes            1
121    RaveNoOp            1
122        XiNo            1

[123 rows x 2 columns]

---
**Part 3:** Implement a second version of your function to count the frequency of appearances of each Monkepo species, but this time use SQL's "GROUP BY" directive. The input and output of this version should be the same as the one you implemented in Part 2. Display your answer using a Pandas data frame as well.

In [11]:
def appearancefreqsql(db):
    conn = sqlite3.connect(db)
    res = [tuple(tup) for tup in
            pandas.read_sql_query('SELECT M.name, count(M.mid)\
                                 FROM (Monkepo JOIN Appearance USING(mid)) AS M\
                                 GROUP BY(M.mid)\
                                 ORDER BY COUNT(M.mid) DESC',
                                 conn).values]
    conn.close()
    return res


pandas.DataFrame(appearancefreqsql('monkepo.db'), columns=['Name', 'Appearances'])

           Name  Appearances
0        PigDye        24445
1       AttaRat        18661
2       RopeSaw        10397
3        DewEel         8717
4         Veeee         7356
5       NovaNet         4766
6      TarPiece         4036
7         TubaZ         3639
8         ARasp         2593
9     AnIronAd-         2497
10    AnIronAd+         2472
11       HiOdds         1849
12     ClayFire         1643
13    PigTooted         1570
14   TurboSpell         1543
15       Rustay         1232
16      NoLedge         1203
17       ByBark         1183
18     PigKarma         1123
19      APigOwl         1123
20        Snake         1100
21    GGExecute         1029
22    UsualBarb          924
23       YankMe          610
24   JiffyPlugG          591
25       HasRoe          585
26       Ripsin          577
27       Nakkau          569
28     IrateCat          568
29      DuckSpy          541
..          ...          ...
93     RevelGar            7
94   VerbIElect            7
95      WingZee            6
96    IronGated            6
97        RigMe            5
98    HipOrWalt            5
99      WarmOak            5
100     HamCoke            4
101    DoingInk            4
102      Didroo            4
103      Nagger            4
104   GimmeATen            3
105     Brovolt            3
106   LassHands            3
107    HairPads            3
108    InaneCar            3
109   RaidOrgan            3
110    RunSuave            3
111       Pyhon            2
112  IonHelment            2
113    ALazaKam            2
114   HardICzar            2
115        XiNo            1
116     NoLoJet            1
117   AlienSent            1
118   BasilToes            1
119    RaveNoOp            1
120     Asniper            1
121      ARichU            1
122     NoElFar            1

[123 rows x 2 columns]

---
**Part 4:** Use Jupyter's [*%timeit*](http://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-timeit) function to compare the performance of the two functions that you wrote in parts 2 and 3.

In [12]:
%timeit[appearancefreqpy('monkepo.db')]
%timeit[appearancefreqsql('monkepo.db')]

10 loops, best of 3: 129 ms per loop
10 loops, best of 3: 20.4 ms per loop

---
**Part 5:** In the following cell write a Python function that finds both the rarest and most  common monkepo species for each class. Your function should take your database name as an input and it it should return a list with with a tuple for each distinct class type and columns with the most and least common Monkepo species names.

In [13]:
def maxminclass(db):
    conn = sqlite3.connect(db)
    classes = pandas.read_sql_query('SELECT DISTINCT type FROM Class', conn)
    res = []
    for i in classes['type']:
        maxmonk = pandas.read_sql_query('SELECT name\
                                 FROM (Monkepo JOIN Appearance USING(mid)\
                                       JOIN Class USING(mid)) AS M\
                                 WHERE type = "' + i + '"\
                                 GROUP BY M.mid\
                                 ORDER BY COUNT(M.mid) DESC\
                                 LIMIT 1',
                                 conn)
        minmonk = pandas.read_sql_query('SELECT name\
                                 FROM (Monkepo JOIN Appearance USING(mid)\
                                       JOIN Class USING(mid)) AS M\
                                 WHERE type = "' + i + '"\
                                 GROUP BY M.mid\
                                 ORDER BY COUNT(M.mid) ASC\
                                 LIMIT 1',
                                 conn)
        res.append((i, maxmonk.name[0], minmonk.name[0]))
    conn.close()
    return res
         
    
pandas.DataFrame(maxminclass('monkepo.db'), columns=['Class', 'Most Common', 'Least Common'])

         Class Most Common Least Common
0        Toxic      DewEel     RunSuave
1       Boring      PigDye      Asniper
2       Insect      DewEel   FerretTube
3     Haunting      Stylag       Nagger
4          Wet      Rustay    BasilToes
5         Turf       ARasp     RunSuave
6          Hot   TigerHowl    AlienSent
7       Mystic   GGExecute        Pyhon
8       Elfish    ClayFire   WiffyGlutG
9        Dirty   HerdSwans         XiNo
10    Shocking     AHickUp      NoLoJet
11    Freezing        Xjyn         Xjyn
12     Beastly     TrainId    RaidOrgan
13  Aggressive      YankMe   IonHelment
14     Mineral     RhoRhyn         XiNo
15      Winged      PigDye    HardICzar
16    Metallic   GimmeATen    GimmeATen

---
**Part 6:** One of the reasons that Monkepo appear is that they depend on supply stations in order to survive in Earth's harsh environment. The same smartphone app that Millennials use for detecting Mokepos also detects the locations of these supply stations. A list of detected stations is available for <a href="http://csbio.unc.edu/mcmillan/Media/stations.csv" download>download</a> here.

In the next cell you should add a new table to your database called *SupplyStations*. Make sure that you commit and close the modified database.

Then write a code fragment that finds, for each supply station how many Monkepo appearances were closer to it than to any other station. Your code should produce a list of tuples (stationID, latitude, longitude, #ofNearbyMonkepo) sorted from most popular to least popular.

***This problem is challenging, allow for enough time to do it!*** You can approximate the distance between a Monkepo appearance and a supply station by $\sqrt{(latitude_{Monkepo} - latitude_{Station})^2 + (longitude_{Monkepo} - longitude_{Station})^2}$. This is not techically correct, but it is close at the scales and latitudes we are considering.

In [14]:
conn = sqlite3.connect('monkepo.db')
curs = conn.cursor()
curs.execute('CREATE TABLE SupplyStations(\
             stationID INTEGER PRIMARY KEY,\
             latitude REAL,\
             longitude REAL)')
pandas.read_csv("stations.csv").to_sql('SupplyStations', conn, if_exists='append', index=False)
conn.commit()
conn.close()


def stationpopularity(db):
    appearances = pandas.read_sql_query('SELECT A.latitude, A.longitude\
                                        FROM Appearance A',
                                        sqlite3.connect(db))
    stations = pandas.read_sql_query('SELECT S.stationID, S.latitude, S.longitude\
                                            FROM SupplyStations S',
                                            sqlite3.connect(db))
    stations['count'] = 0
    for applat, applong in appearances.values:
        min_dist = float('inf')
        pos = 0
        station = 0
        for statid, statlat, statlong, count in stations.values:
            dist = numpy.sqrt(numpy.power(applat-statlat, 2)+numpy.power(applong-statlong, 2))
            if dist < min_dist:
                min_dist = dist
                station = pos
            pos += 1
        stations.set_value(station, 'count', stations['count'][station] + 1)
    stations.sort_values('count', axis=0, ascending=False, inplace=True, kind='quicksort')
    res = []
    for statid, statlat, statlong, count in stations.values:
        res.append((int(statid), statlat, statlong, int(count)))
    return res
        

pandas.DataFrame(stationpopularity('monkepo.db'),
                 columns = ['Station', 'Longitude', 'Latitude', 'Nearby'])

      Station  Longitude   Latitude  Nearby
0        1550  35.913120 -79.048446    4090
1        1529  35.914951 -79.053346    2652
2        1607  35.912472 -79.054622    2419
3        1560  35.910750 -79.053626    2383
4        1621  35.913310 -79.055061    2354
5        1631  35.911293 -79.052368    2193
6        1608  35.911171 -79.051148    2068
7        1557  35.914915 -79.049916    1997
8        1602  35.912364 -79.055570    1913
9        1628  35.909378 -79.051145    1805
10       1618  35.912842 -79.054288    1782
11       1598  35.909696 -79.046723    1777
12       1551  35.913962 -79.050538    1747
13       1559  35.910723 -79.054127    1735
14       1638  35.927109 -79.026518    1724
15       1633  35.928041 -79.027461    1620
16       1573  35.911273 -79.046470    1572
17       1566  35.910500 -79.050046    1495
18       1572  35.913346 -79.051797    1405
19       1514  35.914371 -79.054019    1404
20       1549  35.914826 -79.052418    1385
21       1540  35.914434 -79.050973    1373
22       1594  35.911839 -79.049825    1363
23       1563  35.907843 -79.047398    1356
24       1620  35.912768 -79.045415    1332
25       1619  35.911192 -79.049326    1323
26       1050  35.929839 -79.033511    1216
27       1611  35.910402 -79.048570    1204
28       1612  35.910343 -79.047831    1202
29       1056  35.928111 -79.031385    1199
...       ...        ...        ...     ...
1084     1783  35.783785 -78.671460       0
1085     1384  35.992973 -78.886163       0
1086     1798  35.784663 -78.663569       0
1087     1810  35.779955 -78.665773       0
1088     1809  35.781303 -78.663612       0
1089     1808  35.780291 -78.664706       0
1090     1807  35.780312 -78.664156       0
1091     1221  36.077111 -79.100205       0
1092     1217  36.077350 -79.099994       0
1093     1804  35.785337 -78.664942       0
1094     1803  35.784556 -78.665221       0
1095     1802  35.784595 -78.664486       0
1096     1801  35.784575 -78.662754       0
1097     1800  35.785529 -78.664598       0
1098     1214  36.077118 -79.101210       0
1099     1797  35.784250 -78.665331       0
1100     1784  35.787342 -78.671187       0
1101     1796  35.784262 -78.672915       0
1102     1795  35.785511 -78.673554       0
1103     1794  35.786867 -78.671622       0
1104     1793  35.785664 -78.673914       0
1105     1792  35.787929 -78.673309       0
1106     1791  35.787475 -78.673795       0
1107     1790  35.788345 -78.672382       0
1108     1789  35.785819 -78.674944       0
1109     1788  35.785022 -78.673577       0
1110     1787  35.787646 -78.674753       0
1111     1786  35.785913 -78.671707       0
1112     1785  35.785380 -78.672743       0
1113     1759  35.783134 -78.673011       0

[1114 rows x 4 columns]

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly. We do not need your database, since your Notebook should produce it.